@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bricolage Grotesque", sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
} input{
  font-family: "Bricolage Grotesque", sans-serif;
}

.tasks {
  height: 90dvh;
  width: calc(100% - 10px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  scrollbar-width: thin;
  scrollbar-color: rgb(34, 34, 34) transparent;
  margin-left: 5px;
  position: relative;
} 

.task:last-child {
  border-bottom: black;
}
h3 {
  font-size: 1.5rem;
}
.add {
  height: 10dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} .add button {
  height: 60px;
  width: 70px;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
} .task {
  border-bottom: 1px solid white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
} .task h3 {
  margin: 0;
  margin-bottom: 0.5rem;
} .task p {
  margin: 0.2rem 0;
} svg {
  width: 50px;
  height: 30px;
  fill: black;
}

.muted {
  color: rgb(231, 231, 231);
  font-size: 0.9rem;
}

.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
} .modal-content {
  max-width: 800px;
  width: 90%;
  height: 25%;
  background-color: black;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
} .modal-content input {
  box-sizing: border-box;
  padding: 14px;
  font-size: 20px;
  border: 1px solid rgb(70, 70, 70);
  background-color: black;
  color: white;
  border-radius: 5px;
  width: 100%;
} .modal-content button {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.buttons {
  display: flex;
  width: 100%;
  gap: 20px;
} .buttons button {
  width: 50%;
  padding: 10px;
  background-color: black;
  border: 1px solid rgb(70, 70, 70);
} .buttons button svg {
  fill: white;
  height: 30px;
}
.pending {
  color: rgb(155, 155, 155);
}
.completed {
  color: rgb(32, 124, 63);
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete svg {
  width: 30px;
  height: 30px;
  fill: red;
}
